<copy-to-clipboard>
  <div class="copy-to-clipboard">
    <input style="display: none; width: 1px; height: 1px" value="{ getDockerCmd(props) }" />
    <button
      class="btn btn--icon btn--sm"
      onclick="{ copy }"
      title="Copy pull command."
      aria-label="Copy pull command for { props.image.name }:{ props.image.tag }"
      type="button"
    >
      <i class="material-icons">content_copy</i>
    </button>
  </div>
  <style>
    :host {
      display: inline-block;
      vertical-align: middle;
    }
    :host .btn {
      width: 26px;
      min-width: 26px;
      min-height: 26px;
      padding: 0;
    }
  </style>
  <script>
    import { ERROR_CAN_NOT_READ_CONTENT_DIGEST } from '../../scripts/utils';
    export default {
      onMounted(props, state) {
        this.load(props, state);
      },
      onUpdated(props, state) {
        this.load(props, state);
      },
      getDockerCmd(props) {
        if (props.target === 'tag') {
          return `docker pull ${props.pullUrl}/${props.image.name}:${props.image.tag}`;
        } else {
          return `docker pull ${props.pullUrl}/${props.image.name}@${props.image.contentDigest}`;
        }
      },
      load(props, state) {
        if (props.target !== 'tag' && !props.image.contentDigest) {
          props.image.one('content-digest', (contentDigest) => {
            this.update();
          });
          props.image.trigger('get-content-digest');
        }
      },
      copy() {
        const copyText = this.$('input');
        if (!copyText.value) {
          this.props.onNotify(ERROR_CAN_NOT_READ_CONTENT_DIGEST);
          return;
        }

        copyText.style.display = 'block';
        copyText.select();
        document.execCommand('copy');
        copyText.style.display = 'none';

        this.props.onNotify('`' + copyText.value + '` has been copied to clipboard.');
      },
    };
  </script>
</copy-to-clipboard>
