<remove-image>
  <button
    if="{ !props.multiDelete }"
    class="btn btn--icon btn--sm"
    disabled="{ !state.contentDigest }"
    onclick="{ deleteImage }"
    title="This will delete the image."
    aria-label="Delete { props.image.name }:{ props.image.tag }"
    type="button"
  >
    <i class="material-icons">delete</i>
  </button>
  <app-checkbox
    if="{ props.multiDelete }"
    checked="{ state.checked }"
    disabled="{ !state.contentDigest }"
    on-change="{ handleCheckboxChange }"
    aria-label="Select tag { props.image.tag } for deletion"
  ></app-checkbox>
  <script>
    import { ACTION_CHECK_TO_DELETE, ACTION_UNCHECK_TO_DELETE, ACTION_DELETE_IMAGE } from './tag-table.riot';
    export default {
      onBeforeMount(props, state) {
        state.checked = props.checked;
        props.image.one('content-digest', (contentDigest) => {
          this.update({
            contentDigest,
          });
        });
      },
      onMounted(props, state) {
        props.image.trigger('get-content-digest');
      },
      onBeforeUpdate(props, state) {
        state.checked = props.checked;
      },
      deleteImage() {
        this.props.handleCheckboxChange(ACTION_DELETE_IMAGE, this.props.image);
      },
      handleCheckboxChange(event) {
        const action = event.target.checked ? ACTION_CHECK_TO_DELETE : ACTION_UNCHECK_TO_DELETE;
        this.props.handleCheckboxChange(action, this.props.image, event.shiftKey);
      },
    };
  </script>
</remove-image>
