<tag-history-button>
  <button
    if="{ props.image.ociImage }"
    class="btn btn--icon btn--sm"
    disabled="true"
    title="History is unavailable on OCI index/Buildkit export cache"
    type="button"
  >
    <i class="material-icons">history</i>
  </button>
  <a
    if="{ !props.image.ociImage }"
    class="btn btn--icon btn--sm"
    href="{ routeToHistory() }"
    title="This will show the history of given tag"
    aria-label="Show history of { props.image.name }:{ props.image.tag }"
  >
    <i class="material-icons">history</i>
  </a>
  <script>
    import router from '../../scripts/router';
    export default {
      onMounted(props) {
        // `ociImage` is only known once `fillInfo()` has read the manifest,
        // which happens after the first render.
        props.image.one('oci-image', () => this.update());
      },
      routeToHistory() {
        return router.history(this.props.image.name, this.props.image.tag);
      },
    };
  </script>
</tag-history-button>
