<!--
Copyright (C) 2016-2023 Jones Magloire @Joxit

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<tag-table>
  <confirm-delete-image
    opened="{ state.confirmDeleteImage }"
    on-click="{ onConfirmDeleteImageClick }"
    registry-url="{ props.registryUrl }"
    on-notify="{ props.onNotify }"
    on-authentication="{ props.onAuthentication }"
    tags="{ props.tags }"
    to-delete="{ state.toDelete }"
    is-registry-secured="{ props.isRegistrySecured }"
    on-image-deleted="{ props.onImageDeleted }"
  ></confirm-delete-image>

  <div class="selection-bar" if="{ state.toDelete.size > 0 && !state.singleDeleteAction }">
    <span class="selection-count">{ state.toDelete.size } selected</span>
    <span class="selection-actions">
      <button class="btn btn--sm" onclick="{ clearSelection }" type="button">Clear</button>
      <button class="btn btn--danger btn--sm" onclick="{ deleteImages }" type="button">Delete</button>
    </span>
  </div>

  <table class="data-table">
    <thead>
      <tr>
        <th class="select-col" if="{ props.isImageRemoveActivated }" aria-label="Select tags">
          <app-checkbox
            checked="{ state.multiDelete }"
            indeterminate="{ state.toDelete.size > 0 }"
            on-change="{ onRemoveImageHeaderChange }"
            aria-label="Toggle multi-delete. Alt+Click to select all tags."
            title="Toggle multi-delete. Alt+Click to select all tags."
          ></app-checkbox>
        </th>
        <th
          class="is-sortable { !state.orderType ? (props.asc ? 'is-sorted-asc' : 'is-sorted-desc') : '' }"
          onclick="{ onReverseOrder }"
          aria-sort="{ !state.orderType ? (props.asc ? 'ascending' : 'descending') : 'none' }"
        >
          Tag
          <i if="{ getSortIcon('tag') }" class="material-icons sort-icon">{ getSortIcon('tag') }</i>
        </th>
        <th
          class="is-sortable { state.orderType === 'date' ? (state.desc ? 'is-sorted-desc' : 'is-sorted-asc') : '' }"
          onclick="{ () => onPageReorder('date') }"
          aria-sort="{ state.orderType === 'date' ? (state.desc ? 'descending' : 'ascending') : 'none' }"
        >
          Creation date
          <i if="{ getSortIcon('date') }" class="material-icons sort-icon">{ getSortIcon('date') }</i>
        </th>
        <th
          class="is-sortable { state.orderType === 'size' ? (state.desc ? 'is-sorted-desc' : 'is-sorted-asc') : '' }"
          onclick="{ () => onPageReorder('size') }"
          aria-sort="{ state.orderType === 'size' ? (state.desc ? 'descending' : 'ascending') : 'none' }"
        >
          Size
          <i if="{ getSortIcon('size') }" class="material-icons sort-icon">{ getSortIcon('size') }</i>
        </th>
        <th class="architectures">Arch</th>
        <th class="digest-col" if="{ props.showContentDigest }">Content digest</th>
        <th class="history-col" if="{ props.showTagHistory }">History</th>
      </tr>
    </thead>
    <tbody>
      <tr each="{ image in getPage(props.tags, props.page) }" if="{ matchSearch(props.filterResults, image.tag) }">
        <td class="select-col" if="{ props.isImageRemoveActivated }" data-label="Select">
          <remove-image
            multi-delete="{ state.multiDelete }"
            image="{ image }"
            registry-url="{ props.registryUrl }"
            handleCheckboxChange="{ onRemoveImageChange }"
            checked="{ state.toDelete.has(image) }"
            on-notify="{ props.onNotify }"
            on-authentication="{ props.onAuthentication }"
          ></remove-image>
        </td>
        <td class="tag-col" data-label="Tag">
          <image-tag image="{ image }"></image-tag>
          <copy-to-clipboard
            target="tag"
            image="{ image }"
            pull-url="{ props.pullUrl }"
            on-notify="{ props.onNotify }"
          ></copy-to-clipboard>
        </td>
        <td class="creation-date" data-label="Creation date">
          <image-date image="{ image }"></image-date>
        </td>
        <td class="image-size" data-label="Size">
          <image-size image="{ image }"></image-size>
        </td>
        <td class="architectures" data-label="Arch">
          <architectures image="{ image }"></architectures>
        </td>
        <td class="digest-col" if="{ props.showContentDigest }" data-label="Content digest">
          <image-content-digest image="{ image }"></image-content-digest>
          <copy-to-clipboard
            target="digest"
            image="{ image }"
            pull-url="{ props.pullUrl }"
            on-notify="{ props.onNotify }"
          ></copy-to-clipboard>
        </td>
        <td class="history-col" if="{ props.showTagHistory }" data-label="History">
          <tag-history-button image="{ image }"></tag-history-button>
        </td>
      </tr>
    </tbody>
  </table>

  <script>
    import { getPage } from '../../scripts/utils';
    import ImageDate from './image-date.riot';
    import ImageSize from './image-size.riot';
    import ImageTag from './image-tag.riot';
    import ImageContentDigest from './image-content-digest.riot';
    import CopyToClipboard from './copy-to-clipboard.riot';
    import TagHistoryButton from './tag-history-button.riot';
    import RemoveImage from './remove-image.riot';
    import Architectures from './architectures.riot';
    import { matchSearch } from '../search-bar.riot';
    import ConfirmDeleteImage from '../dialogs/confirm-delete-image.riot';
    const ACTION_CHECK_TO_DELETE = 'CHECK';
    const ACTION_UNCHECK_TO_DELETE = 'UNCHECK';
    const ACTION_DELETE_IMAGE = 'DELETE';

    export default {
      components: {
        ImageDate,
        ImageSize,
        ImageTag,
        ImageContentDigest,
        CopyToClipboard,
        RemoveImage,
        TagHistoryButton,
        ConfirmDeleteImage,
        Architectures,
      },
      onBeforeMount(props) {
        this.state = {
          toDelete: new Set(),
          multiDelete: false,
          page: props.page,
        };
      },
      onBeforeUpdate(props, state) {
        if (state.page !== props.page) {
          state.toDelete.clear();
        }
        state.page = props.page;
      },
      deleteImages() {
        this.update({
          confirmDeleteImage: true,
        });
      },
      clearSelection() {
        this.state.toDelete.clear();
        this.update({
          toDelete: this.state.toDelete,
          multiDelete: false,
          selectedImage: undefined,
        });
      },
      onConfirmDeleteImageClick() {
        if (this.state.singleDeleteAction) {
          this.state.toDelete.clear();
        }
        this.update({
          singleDeleteAction: false,
          confirmDeleteImage: false,
        });
      },
      onRemoveImageHeaderChange(event) {
        if (event.altKey === true) {
          const tags = getPage(this.props.tags, this.props.page);
          tags
            .filter((image) => matchSearch(this.props.filterResults, image.tag))
            .forEach((tag) => this.state.toDelete.add(tag));
          this.update({
            multiDelete: true,
            toDelete: this.state.toDelete,
            selectedImage: undefined,
          });
        } else {
          const checked = event.target.checked;
          if (!checked) {
            this.state.toDelete.clear();
          }
          this.update({
            multiDelete: checked,
            toDelete: this.state.toDelete,
            selectedImage: undefined,
          });
        }
      },
      onRemoveImageChange(action, image, shiftKey) {
        let confirmDeleteImage = false;
        let singleDeleteAction = false;
        let selectedImage = undefined;
        switch (action) {
          case ACTION_CHECK_TO_DELETE: {
            this.state.toDelete.add(image);
            if (shiftKey) {
              selectedImage = this.supportShiftKey(image, true);
            }
            break;
          }
          case ACTION_UNCHECK_TO_DELETE: {
            this.state.toDelete.delete(image);
            if (shiftKey) {
              selectedImage = this.supportShiftKey(image, false);
            }
            break;
          }
          case ACTION_DELETE_IMAGE: {
            this.state.toDelete.clear();
            this.state.toDelete.add(image);
            confirmDeleteImage = true;
            singleDeleteAction = true;
          }
        }
        this.update({
          toDelete: this.state.toDelete,
          confirmDeleteImage,
          singleDeleteAction,
          selectedImage,
        });
      },
      supportShiftKey(selectedImage, addOrRemove) {
        if (!this.state.selectedImage) {
          return selectedImage;
        } else {
          let shouldChange = false;
          const tags = this.getPage(this.props.tags, this.props.page);
          tags
            .filter((image) => {
              if (image == this.state.selectedImage || image == selectedImage) {
                shouldChange = !shouldChange;
                return true;
              }
              return shouldChange;
            })
            .forEach((image) => {
              if (addOrRemove) {
                this.state.toDelete.add(image);
              } else {
                this.state.toDelete.delete(image);
              }
            });
          return undefined;
        }
      },
      onReverseOrder() {
        this.state.orderType = null;
        this.state.desc = false;
        this.props.onReverseOrder();
      },
      onPageReorder(type) {
        this.update({
          orderType: type,
          desc: (this.state.orderType && this.state.orderType !== type) || !this.state.desc,
        });
      },
      getSortIcon(column) {
        if (column === 'tag' && !this.state.orderType) {
          return this.props.asc ? 'arrow_upward' : 'arrow_downward';
        }
        if (this.state.orderType === column) {
          return this.state.desc ? 'arrow_downward' : 'arrow_upward';
        }
        return '';
      },
      getPage(tags, page) {
        const sortedTags = getPage(tags, page, this.props.tagsPerPage);
        if (this.state.orderType === 'date') {
          sortedTags.sort((e1, e2) =>
            !this.state.desc
              ? (e2.creationDate?.getTime() || 0) - (e1.creationDate?.getTime() || 0)
              : (e1.creationDate?.getTime() || 0) - (e2.creationDate?.getTime() || 0)
          );
        } else if (this.state.orderType === 'size') {
          sortedTags.sort((e1, e2) => (!this.state.desc ? e2.size - e1.size : e1.size - e2.size));
        }
        return sortedTags;
      },
      matchSearch,
    };
    export { ACTION_CHECK_TO_DELETE, ACTION_UNCHECK_TO_DELETE, ACTION_DELETE_IMAGE };
  </script>
  <style>
    :host {
      display: block;
      position: relative;
    }

    :host th.is-sorted-asc,
    :host th.is-sorted-desc {
      color: var(--text-primary);
    }

    :host th .sort-icon {
      font-size: 15px;
      vertical-align: middle;
    }

    :host .select-col {
      width: 44px;
      text-align: center;
    }

    :host .tag-col {
      max-width: 40vw;
      font-family: var(--font-mono);
      font-size: var(--fs-md);
    }

    :host .creation-date {
      width: 12em;
      font-family: var(--font-mono);
      font-size: var(--fs-sm);
      color: var(--text-secondary);
    }

    :host .image-size {
      width: 7em;
      font-family: var(--font-mono);
      font-size: var(--fs-sm);
    }

    :host .architectures {
      width: 10em;
    }

    :host .digest-col {
      max-width: 24em;
      overflow: hidden;
      font-family: var(--font-mono);
    }

    :host .history-col {
      width: 56px;
      text-align: center;
    }

    :host .selection-bar {
      position: fixed;
      bottom: var(--space-6);
      left: 50%;
      transform: translateX(-50%);
      width: max-content;
      max-width: calc(100% - var(--space-8));
      display: flex;
      align-items: center;
      gap: var(--space-4);
      padding: var(--space-2) var(--space-4);
      border-radius: var(--radius-full);
      background-color: var(--text-primary);
      color: var(--bg);
      box-shadow: var(--shadow-lg);
      z-index: 50;
    }

    :host .selection-count {
      font-size: var(--fs-lg);
      font-weight: 600;
      white-space: nowrap;
    }

    :host .selection-actions {
      display: flex;
      align-items: center;
      gap: var(--space-1);
    }

    :host .selection-bar .btn--sm {
      color: var(--bg);
    }

    :host .selection-bar .btn--sm:hover {
      background-color: rgba(128, 128, 128, 0.2);
      color: var(--bg);
    }

    :host .selection-bar .btn--danger {
      color: var(--on-danger);
    }

    @media screen and (max-width: 700px) {
      :host thead {
        display: none;
      }

      :host tbody tr {
        display: flex;
        flex-direction: column;
        padding: var(--space-3);
        margin: var(--space-3) var(--space-2);
        background-color: var(--surface);
        border: 1px solid var(--border);
        border-radius: var(--radius-lg);
      }

      :host tbody tr:hover {
        background-color: var(--surface);
      }

      :host td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-4);
        min-height: 36px;
        padding: var(--space-1) var(--space-2);
        border-bottom: 1px solid var(--border);
        text-align: left;
      }

      :host td:last-child {
        border-bottom: none;
      }

      :host td::before {
        content: attr(data-label);
        font-size: var(--fs-sm);
        font-weight: 600;
        color: var(--text-muted);
        flex-shrink: 0;
      }

      :host .select-col {
        position: absolute;
        top: var(--space-2);
        right: var(--space-2);
        width: auto;
      }

      :host .select-col::before {
        display: none;
      }

      :host .tag-col {
        max-width: none;
      }
    }
  </style>
</tag-table>
