
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font: caption;
}

@media (prefers-color-scheme: dark) {
    body, html {
        color: white;
    }
}

input {
    width: 100%;
    margin: 0;
}

button {

}
table {
    width: auto;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

main header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

main header button {
    margin: 10px;
}

main footer {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
}

.error {
    color: darkred;
}
