<!--
 Copyright (C) 2016-2023 Jones Magloire @Joxit

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
-->
<registry-panel>
  <add-registry-url
    opened="{ state.addDialog }"
    on-close="{ onClose }"
    on-notify="{ props.onNotify }"
    on-server-change="{ props.onServerChange }"
  ></add-registry-url>

  <div class="registry-panel">
    <div class="registry-current" title="{ props.registryUrl }">
      <span class="status-dot" aria-hidden="true"></span>
      <span class="registry-url">{ stripHttps(props.registryUrl) || 'No registry selected' }</span>
    </div>
    <ul class="registry-list" if="{ state.registries.length > 0 }">
      <li each="{ url in state.registries }" class="{ url === props.registryUrl ? 'is-active' : '' }">
        <button class="registry-switch" onclick="{ () => switchRegistry(url) }" title="{ url }" type="button">
          <i class="material-icons" if="{ url === props.registryUrl }">check</i>
          { stripHttps(url) }
        </button>
        <button
          if="{ !props.readOnlyRegistries }"
          class="btn btn--icon btn--sm registry-remove"
          onclick="{ () => removeRegistry(url) }"
          aria-label="Remove { url }"
          title="Remove { url }"
          type="button"
        >
          <i class="material-icons">close</i>
        </button>
      </li>
    </ul>
    <button
      if="{ !props.readOnlyRegistries }"
      class="btn registry-add"
      onclick="{ () => onOpen() }"
      type="button"
    >
      <i class="material-icons">add</i>
      Add registry
    </button>
  </div>
  <script>
    import AddRegistryUrl from './add-registry-url.riot';
    import { getRegistryServers, removeRegistryServers, stripHttps } from '../../scripts/utils';
    import router from '../../scripts/router';

    export default {
      components: {
        AddRegistryUrl,
      },
      onBeforeMount(props, state) {
        state.registries = getRegistryServers();
      },
      onUpdated(props, state) {
        state.registries = getRegistryServers();
      },
      onOpen() {
        this.update({ addDialog: true });
      },
      onClose() {
        this.update({ addDialog: false });
      },
      switchRegistry(url) {
        router.home();
        this.props.onServerChange(url);
        setTimeout(() => router.updateUrlQueryParam(url), 100);
      },
      removeRegistry(url) {
        removeRegistryServers(url);
        if (url === this.props.registryUrl) {
          this.props.onServerChange(getRegistryServers(0) || window.location.origin);
        } else {
          this.update({ registries: getRegistryServers() });
        }
        this.props.onNotify(`Registry \`${url}\` removed.`);
      },
      stripHttps,
    };
  </script>
</registry-panel>
